# ======================================================
#    CUSTOM IGNORE
# ======================================================
node_modules/
bin/

package-lock.json

#----
# COMPILED FILES
#----
*.js
*.js.map
*.d.ts
*.d.ts.map